@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #7d5e99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

nav{
 text-align: right;
}

a.hdr{
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 15px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}

a.hdr::before{
    content: " ";
    color: #F25A70;
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.button{
    display: inline-flex;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding: 0px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
    transition: transform 100ms linear;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;

    
}

.button:hover{
    background-color: white;
    color: #F25A70;
    transform: scale(1.08);
}



h1{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #F25A70;
    text-shadow: 4px 4px 0px black;
}

h2{
    font-size: 30px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px 0px black;
    color: white;
}

.box{
    display: inline-block;
    background-color: #3a4042;
    box-shadow: 10px 10px 0px black;
    text-align: center;
    padding: 42px 42px;
}

.box > h1 {
    margin-bottom: 28px;
}

section.banner{
    background-image: url(imagens/Banner\ \(1\).png);
    height: 760px;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 10px solid black;
    padding-top: 115px;
    padding-left: 90px;
    box-sizing: border-box;
   
}
 
.banner > .wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

.banner .box{
    margin-bottom: 40px;
}
.banner > .navigation{
    display: flex;
    justify-content: space-around;
    width: 
    640px;
}

.section > h2{
    color: white;
    text-shadow: none;
    text-align: center;
}

.section{
    background-color: #F25A70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #7d5e99;
}

.wrapper-skill{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: auto;
}

.wrapper-skill .skill{
    width: 430px;
}

.-space{
    margin-right: 100px;
}

.wrapper-skill .progress-bar{
    width: 320px;
}



.skill{
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: white;
}

.skill .title{

    margin: 16px 0px;
}

.icon{
    margin-right: 25px;
    width: 90px;
}

.progress-bar{
    box-sizing: border-box;
    background-color: white;
    color: #7d5e99;
    border: 5px solid black;
    height: 40px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-webkit-progress-value {
    width: 70%;
    background-color: #AF60BC;
}

.progress-bar::-moz-progress-bar {
    background-color: #AF60BC;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section2{
    background-color: black;
    border-bottom: 10px solid #F25A70;
}
.card-project{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7d5e99;
    width: 280px; 
    height: 280px;
    box-shadow: 10px 10px 0px white;
    margin: 20px;
   
}

 .-blue{
    background-color: #4C5B84;
}

h2{
    text-align: center;
    padding: 20px 0px;
}

.wrapper-card{
    display: flex;
    justify-content: center;
}

.section3{
    background-color: #7d5e99;
    border-bottom: 10px solid black ;
}

p{
    color: white;
    font-size: 30px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.3;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.button-arrow{
    width: 50px;
    height: 50px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px black;
    cursor: pointer;
    
}

.button-arrow .content{
    display: none;
}

.button-arrow::before {
    content: ' ';
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 15px solid transparent;
    border-left: 28px solid white;
    transform: translate(8px);
}

.button-arrow.-left::before{
    transform: rotate(180deg) translate(10px) ;
}

.node-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before{
    content: '';
    height: 0;
    width: 40px;
    border: 2.5px dashed black;
    transform: rotate(90deg) translateX(-62%);
    position: absolute;
    bottom: 0;
    bottom: 140px;
}
.node-card .title1{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #F25A70;
    margin-bottom: 50px;
}

 .logo{
    display: flex;
    flex-direction: column;
   justify-content:  center;
    height: 140px;
    border: 5px solid black;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CEB02A;

}

.-clean{
    padding: 0;
    border: 0;
}

.-rosa{
    background-color: #F25A70;
    height: 140px;
}

.collab{
    height: 140px;
}

.carrosel{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
}

.carrosel > .button-arrow{
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.carrosel::after{
    content: '';
    position: absolute;
    left: 40px;
    top: 30px;
    display: block;
    height: 5px;
    width: calc(100% - 80px);
    background-color: black;

}

.carrosel::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 30px;
    display: block;
    border: 2.5px dashed black;
    width: 99%;
    right: 0;

}

.-left{
    left: 15px;
}

.-right{
    right: 15px;
}

.items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    transform: translateX();
    overflow: hidden;
}

.elements{
    display: flex;
    justify-content: space-between;
    transform: translateX(100px);

}